/* 
	The .splash class should be set on the <body> element
    When the page loads the blank canvas will be visible
	until the splash image has loaded, covering everything
	underneath. The background image will be added by
	Javascript. By removing the .splash with a setTimeout
	both the canvas and image display duration can be set
	according to need.
*/
.splash:before { 
	/* dimensions */
	width: 100%; 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	display: block; 
	height: 100%; 
	z-index: 999999;  
	
	/* background canvas */
	background-color: #fff; 
	
	/* loading... text */
	content: "Birdseye"; 
	text-align: center; 
	font-size: 24px; 
	font-family: Arial;
	color: #fff; 
	text-shadow: none; 
	line-height: 150px; 
	vertical-align: bottom; 
	}
