
.splash:before { 
	/* dimensions */
	width: 100%; 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	display: block; 
	height: 105% ; 
	z-index: 999999;  
	
	/* background canvas */
	background-color: #fff;
	
	/* loading... text */
	content: "Birdseye"; 
	text-align: center; 
	font-size: 24px; 
	font-family: Arial;
	color: #fff; 
	text-shadow: none; 
	line-height: 150px; 
	vertical-align: bottom; 
	}

